<configuration>
	<connectionStrings>
		<add name="Clients"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Anton\source\repos\JustWpf\JustWpf\DataBase\Clients.mdf;Integrated Security=True;"
     providerName="Microsoft.Data.SqlClient" />
		
	</connectionStrings>
</configuration>
